* {
	margin: 0;
  padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	color: rgb(255,212,202);
	font-family: "Gill Sans", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 16px;
}

#menu1 {
	padding-top: 25px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: rgb(38,24,96);
  padding: 10px 0px;
  z-index: 99;

}

.navbar1 {
	color: rgb(255,212,202);
/*	text-align: center;*/
	text-decoration: none;
	border-bottom: solid 2px rgb(255, 212, 202, 26%);
	padding-left: 20px;
	padding-right: 20px;section5
	padding-top: 10px;
	display: inline-block;
	margin-right: -2px;
	margin-left: -2px;
}

.navbar1:hover {
	color: white;
	border-bottom: solid 2px rgb(255, 212, 202, 100%);
}

.logo {
	display: block;
	float: left;
	width: 50px;
	position: relative;
	left: 50px;
}

@media screen and (max-width: 1100px) {
	.navbar1 {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
	}
}

@media screen and (max-width: 1020px) {
	.navbar1 {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
	}
}

@media screen and (max-width: 960px) {
	.navbar1 {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 10px;
		font-size: 14px;
	}
}

@media screen and (max-width: 850px) {
  .topnav a:not(:first-child) {display: none;}
    .topnav a:first-child {
        float:left;
    }
  .topnav a.icon, #nav_bar a.icon {
	color: rgb(255,212,202);
	float: right;
    display: block;
	margin-right: 10px;
	font-size: 24px;
  }

	.logo {
		display: block;
		float: left;
		width: 50px;
		position: relative;
		left: 10px;
	}

}

.icon {
  display: none;
}

@media only screen and (max-width : 850px) {

  .topnav.responsive {
	  position: fixed;
	  top: 50;
	  width: 100%;
	  z-index: 100;
    }

  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
  }

  .topnav.responsive a:nth-child(2) {
    float: none;
    display: block;
    text-align: left;
	margin-top: 40px;
  }
  .topnav.responsive a:not(:first-child) {
    float: none;
    display: block;
    text-align: left;
  }




}

#section1 {
	background-color: rgb(38,24,96);
	width: 100%;
	height: 100vh;
	margin-top: 40px;
}

#tagline1 {
	display: block;
/*	text-align: center;*/
	color: white;
	width:300px;
	padding-top: 40px;
	font-weight: normal;
}

#tagline2 {
	display: block;
	color: white;
/*	margin: auto;*/
/*	text-align: center;*/
	width:auto;
}

.hero {

  min-height: 100vh;
  display: flex;
	flex-direction: column;
	flex-shrink: 1;
  justify-content: center;
  align-items: center;

  /* position the div in center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#little-dude-moblie {
	display: block;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 0px;
}

#little-dude {
	display: none;
}

@media only screen and (min-width: 768px) {
	#section1 {
		background-color: rgb(38,24,96);
		width: 100%;
		height: 100%;

		background-image: url("images/Asset3.png");
		background-size: 100% 100%;
		background-repeat:no-repeat;
		margin-bottom: 0px;
		margin-top: 20px;
		background-position:center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.hero {
	  width: 100%;
	  min-height: 100%;
	  display: block;
	  justify-content: center;
	  align-items: center;

	  /* position the div in center */
	  position: relative;
	  top: 0;
	  left: 0;
	  transform: translate(0, 0);
	}

	#section1 #little-dude {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		padding-top: 50px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	#little-dude-moblie{
		display: none;
	}

	#tagline1 {
		color: white;
		text-align: center;
		width:300px;
		padding-top: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: 2%;
		font-weight: normal;
	}

	#tagline2 {
		color: white;
		text-align: center;
		width:300px;
		padding-bottom: 50px;
		margin-bottom: 0px;
		padding-top: 0px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: 2%;
	}

}

#section2 {
	background: url("images/Asset%201.png");
	background-repeat: repeat;
	background-size: 50% ;
	height: auto;
	padding: 40px;
	text-align: left;
	overflow: hidden;
}

.paragraph {
	padding: 10px;
	font-size: 20px;
	color: rgb(38,24,96);
}

#whatCur {
	max-width: 60%;
	padding: 10px;
	float: left;
	font-size: 20px;
	color: rgb(38,24,96);
}

.image {
	padding: 30px;
	text-align: center;
	float: right;
}

#app {
	max-width: 36%;
	height: 300px;
	padding: 30px;
	margin-right: 12%;
	text-align: center;
	float: right;
}


#section6 { /*desktop*/
	background: url("images/hearts.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50% ;
	height: auto;
	padding: 20px;
	overflow: hidden;
}

.contentTile {
	background-color: white;
	color: rgb(38,24,96);
	padding: 0px 10px;
}

.timelineTile {
	max-width: 60%;
	margin: 25px 25px 15px 25px;
}

.timelinedescription {
	color: rgb(38,24,96);
	max-width: 60%;
	text-align: left;
	margin: 0px 25px 25px 25px;
}

.title {
	margin: 12px;
	margin-bottom: 20px;
}

#statement {
	width: 100%;
	float: left;
	font-size: 36px;
	font-weight: bold;
	color: #85d3c6;
	text-align: center;

}

#bulb {
	max-width: 40%; /* width of container */
	width: 500px;
    height: 480px;
    object-fit: cover;
	padding: 10px;
	text-align: center;
	float: left;
	border-radius: 25px;
}

#missionParagraph {
	max-width: 45%;
	margin-right: 80px;
	padding: 10px;
	float: right;
	text-align: left;
	font-size: 20px;
	color: rgb(38,24,96);
	margin-top: 12%;
}

@media only screen and (max-width : 850px) {

	#section2 {
		background: url("images/Asset%201.png");
		background-repeat: repeat;
		background-size: 200% ;
		height: auto;
		padding: 20px;
		text-align: center;
		overflow: hidden;
	}

	.paragraph {
		padding: 10px;
		font-size: 20px;
		color: rgb(38,24,96);
	}

	#whatCur {
		max-width: 1000%;
		padding: 0px;
		float: none;
		text-align: left;
		color: rgb(38,24,96);
	}

	.image {
		padding: 30px;
	}

	#app {
		max-width: 100%;
		height: 300px;
		padding: 30px;
		margin-right: 0%;
		text-align: center;
		float: none;
	}

	.title {
		margin: 12px;
		margin-bottom: 20px;
		text-align: center;
	}

	#bulb {
		max-width: 100%; /* width of container */
		width: 300px;
		height: 300px;
		object-fit: cover;
		padding: 0px;
		text-align: center;
		float: none;
		border-radius: 25px;
	}

	#missionParagraph {
		max-width: 100%;
		margin-right: 0px;
		padding: 25px 0 0 0;
		float: none;
		font-size: 20px;
		color: rgb(38,24,96);
		margin-top: 0%;
	}

	#statement {
		padding-top: 30px;
		width: 100%;
		float: none;
		font-size: 20px;
		color: #85d3c6;
		text-align: center;

	}


}


.section7 { /*this will become section 7*/
	background-color: #e9e7f1;
	padding: 20px;
}

.section7 h2 {
	display:inline-block;
	color: #261860;
	padding: 20px 20px 0px 30px;
}

.section7 p {
	text-align: left;
	color: #261860;
	padding: 30px;
	border-radius: 30px;
}

#team {
	width: 100%;
	text-align: right;
}

.profile {
	border-radius: 50%;
	object-fit: cover;
	width: 150px;
	height: 150px;
	background-size:cover;
	background-position:top;
	border: 5px solid #85d3c6;
/*
	position: relative;
	bottom: 50px;
	right: 150px;
*/
}

.info {
	vertical-align: text-top;
	max-width: 70%;
	max-height: 600px;
	background-color: #ffd4ca;
	border-radius: 25px;
	margin: 20px;
	padding-top: 20px;
}

#element1 {
  display: inline-block;
}
#element2 {
  display: inline-block;
}

.reviewProfile {
	border-radius: 50%;
	object-fit: cover;
	width: 150px;
	height: 150px;
	background-size:cover;
	background-position:top;
	border: 5px solid #85d3c6;
}

.testimony {
	display: inline-block;
	text-align: left;
	border-radius: 25px;
	padding: 40px;
	max-width: 80%;
	background-color: rgb(38,24,96);
}

@media only screen and (max-width : 850px) {
	.section7 {
		background-color: #e9e7f1;
/*		padding: 20px;*/
	}

	.info {
		text-align: left;
		max-width: 100%;
		max-height: 1500px;
		background-color: #ffd4ca;
		border-radius: 25px;
		margin: 0px;
		padding: 0px;
	}
	#team {
		width: 100%;
		text-align: center;
	}
.section5 { /*this will become section 5*/
	background-color: #e9e7f1;
	padding: 0px 100px 100px 100px;
}

}

.section5 { /*this will become section 5*/
	background-color: #e9e7f1;
	padding: 0px 100px 100px 100px;
}

	@media only screen and (max-width : 850px) {
	.section5 {
		background-color: #e9e7f1;
		padding: 20px;
	}

	.info {
		vertical-align: text-top;
		max-width: 100%;
		max-height: 1000px;
		background-color: #ffd4ca;
		border-radius: 25px;
		margin: 20px;
		padding: 30px;
	}
	#team {
		width: 100%;
		text-align: center;
	}

}


.section8 {
	background-color: #261860;
	padding: 50px;
}

.mission {
	border-radius: 10%;
	width: 200px;
	height: 200px;
	background-size:cover;
	background-position:top;
	bottom: -50px;
	right: 50px;
}


/* ************************Timeline*********************** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
} */
#section4 {
	background: url("images/Asset%201.png");
	background-repeat: repeat;
	background-size: 200% ;
	height: auto;
	padding: 20px;
	overflow: hidden;
}

.timeline { /*this will become section 4*/
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 50px auto;
  padding: 75px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(0% - 25px);
  right: calc(50% - 25px);
  background: #ffffff;
  border: 2px solid #85d3c6;
  background: #85d3c6;
  border-radius: 50px;
  z-index: 2;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #85d3c6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #85d3c6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

/* .container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(0% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
} */

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 2px;
  top: calc(0% - 1px);
  right: 0px;
  background: #85d3c6;
  z-index: 1;
}

.container.right::before {
  left: 0px;
}

.container .content {
  padding: 30px;
  max-width: 350px;
  left: calc(50% - 175px);
  background: rgb(255,212,202);
  position: relative;
  border-radius: 25px;
}

.container.right .content {
  padding: 30px;
  border-radius: 25px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: rgb(38,24,96);
}

.container .year {
  position: absolute;
  display: inline-block;
  top: calc(0% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .year {
  right: -25px;
}

.container.right .year {
  left: -25px;
}

.container.left .year,
.container.right .year {
  right: 0;
  left: 0;
}

@media (max-width: 767.98px) {
	.timelineTile {
		max-width: 100%;
		margin: 25px 25px 15px 25px;
	}

	.timelinedescription {
		color: rgb(38,24,96);
		max-width: 100%;
		text-align: left;
		margin: 0px 25px 25px 25px;
	}

	.timeline::before {
	  content: '';
	  position: absolute;
	  width: 50px;
	  height: 50px;
	  top: calc(0% - 25px);
	  right: calc(84% - 32px);
	  background: #ffffff;
	  border: 2px solid #85d3c6;
	  background: #85d3c6;
	  border-radius: 50px;
	  z-index: 2;
	}

  .timeline::after {
    left: 60px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
		padding-bottom: 50px;
  }

	/* .container {
	  padding: 15px 30px;
	  position: relative;
	  background: inherit;
	  width: 50%;
	} */

	.container .content {
	  padding: 30px;
	  max-width: 350px;
	  left: calc(10%);
	  background: rgb(255,212,202);
	  position: relative;
	  border-radius: 25px;
	}

  .container.right {
    left: 0%;
  }

	.container::before {
	  content: '';
	  position: absolute;
	  width: 0px;
	  height: 2px;
	  top: calc(0% - 1px);
	  right: 0px;
	  background: #85d3c6;
	  z-index: 1;
	}

	.container.right::before {
	  left: 0px;
	}

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 35px;
    border-color: transparent #006E51 transparent transparent;
  }


  .container.left .content,
  .container.right .content {
    padding: 15px;
    border-radius: 25px;
  }

	.container .year {
	  position: absolute;
	  display: inline-block;
	  top: calc(30% - 8px);
	  text-align: center;
	  font-size: 14px;
	  font-weight: bold;
	  color: #006E51;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	  z-index: 1;
	}

	.container.left .year {
	  right: -25px;
	}

	.container.right .year {
	  left: -25px;
	}

	.container.left .year,
	.container.right .year {
	  right: calc(64%);
	  left: 0;
	}
}


/* ************************Timeline*********************** */

.section3 {
	background-color: #e9e7f1;
	background-image: url("images/purplewave.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	margin-bottom: 0px;
	background-position:center center;
	padding: 50px;
}

/*
.section3 p{
		color: rgb(38,24,96);
		max-width: 100%;
		text-align: center;
		margin: 0px 25px 25px 25px;
}
*/


.flex-container {
  display: flex;
color: antiquewhite;
  /* background-color: DodgerBlue; */
  justify-content: center;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-container .col {
  width: 30%;
	height: 250px;
}

.flex-container .col img{
  width: 200px;
}

.flex-container > div {
  background-color: #85d3c6;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
	border-radius: 25px;
}
@media (max-width: 960px) {

	.flex-container .col img{
	  width: 150px;
	}
}
@media (max-width: 767.98px) {

	.section3 {
		padding: 20px;
	}


	.flex-container {
	  display: flex;
	  /* background-color: DodgerBlue; */
	  justify-content: center;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.flex-container .col {
	  width: 100%;
		height: auto;
	}

	.flex-container .col img{
	  width: 40px;
		float: left;
	}

	.flex-container .col span{
		/* width: 300px; */
		float: right;
	}

	.flex-container > div {
	  background-color: #85d3c6;
	  margin: 10px;
	  padding: 10px;
	  font-size: 22px;
		border-radius: 15px;
	}
}
